<p>Customer: <%= @donation.customer %></p>
<p>Organisation: <%= @donation.customer.organisation_name %></p>
<p>Email: <%= @donation.customer.email %></p>
<p>Donated at: <%= @donation.updated_at.inspect %></p>
<p>Amount: $<%= @donation.display_amount %></p>