<div class="article">
  <div class="inner"> 
	<div class="header"><h1>Reissue receipts: Search results</h1></div> 
	  <div> 
		<table>
		  <thead>
			<th>Name</th>
			<th>Organisation</th>
			<th>Amount</th>
			<th>Date</th>
			<th>Email</th>
			<th>Receipt Number</th>
			<th>Status</th>
			<th></th>
		  </thead>
          <% @donations.each do |d| %>
		    <tr>
			  <td><%= d.customer %></td>
			  <td><%= d.customer.organisation_name %></td>
			  <td>$<%= d.display_amount %></td>
			  <td><%= d.updated_at %></td>
			  <td><%= d.customer.email %></td>
			  <td><%= d.id %></td>
			  <td><%= d.status %>
			  <td><%= link_to 'Reissue', admin_donation_path(d.id) %>
		    </tr>
	      <% end %>
		</table>
      </div> 
    </div>
  </div>
</div>
