<h1>Receipt reissued</h1>
<p>Customer: <%= @donation.customer %></p>
<p>Organisation: <%= @donation.customer.organisation_name %></p>
<p>Email: <%= @donation.customer.email %></p>
<p>Donated at: <%= @donation.updated_at %></p>
<p>Amount: $<%= @donation.display_amount %></p>
<%= link_to 'Start again', admin_receipt_search_path %>