<div id="page-container">
  <div id="content-container">
    <div id="article-container">
      <div id="content">

        <% if @donation.id.nil? %>

        <div class="article">
          <div class="inner"> 
            <div class="header"><h1>Premier's Disaster Relief Appeal</h1></div> 
            <div class="ftw-preamble"> 
              <p>The Queensland Government has launched an appeal to help fellow
                Queenslanders affected by the recent floods. Many communities have
                been devastated. Some families have lost everything. You can help
                make a difference by donating to the Premier's Flood Relief
                Appeal.</p>         
            </div> 
          </div>
        </div>

        <% else %>

        <div class="article">
          <div class="inner">
            <div class="header"><h1>Payment Error</h1></div>
            <div class="ftw-preamble">
                    <p>Oops! Something went wrong, and we were unable to process your donation. Please try again.</p>
                    <p>Error Message: <%= @error_msg %></p>
            </div>
          </div>
        </div>

        <% end %>

          <div class="tf-status" id="outage-warnings-container"></div>

          <div class="article tf-form">
            <div class="inner">
              <div class="header"><h1>Donate to the flood relief appeal</h1></div>

              <div class="ftw-preamble">
                <ul>
                  <li>Enter customer details to continue.</li>
                  <li><abbr class="xf-required" title="required">*</abbr>
                    indicates required fields.
                  </li>
                </ul>

                <%= form_tag('/donations', :method => "post", :id => "checkout", :class => "usetheforces tt-citizen hint-after") do %>

                <ol class="tf-sections">
                  <li class="section">
                    <fieldset id="contact-details">
                      <legend>Amount</legend>
                      <fieldset>
                        <ol class="ftw-questions ftw-slot-in">
                          <li class="xf-input">
                            <label for="contact-phone">
                              <span class="xf-label">Amount</span>
                              <abbr class="xf-required" title="required">*</abbr>
                            </label>
                            <input type="text" name="amount" size="15" maxlength="20" value="<%= @donation.amount.to_f == 0 ? "" : sprintf("%.2f", @donation.amount.to_f) %>" id="amount" />
                            <small class="xf-hint">Donations greater than $2 are tax deductible. Minimum $1 per donation.</small>
                          </li>
                        </ol>
                      </fieldset>
                  </li>

                  <li class="section">
                    <fieldset id="contact-details">
                      <legend>Customer details</legend>
                      <div class="ftw-instructions privacy">
                        <p>Customer details assist with enquiries relating to this donation.</p>
                      </div>
                      <ol class="ftw-questions">

                        <li class="section">
                          <fieldset>
                            <legend>Customer name</legend>
                            <ol class="ftw-questions ftw-slot-in">
                              <li class="xf-group">
                                <fieldset id="name">
                                  <legend>
                                    <span class="xf-label">Name</span>


                                  </legend>
                                  <ol class="ftw-questions xf-appearance-compact">
                                    <li class="xf-input">
                                      <label for="name-title">
                                        <span class="xf-label">Title</span>
                                      </label>
                                      <input type="text"
                                      name="customer[title]" size="5"
                                      maxlength="12" value="<%= @donation.customer.title %>" id="name-title"/></li>

                                    <li class="xf-input">

                                      <label for="name-given">
                                        <span class="xf-label">Given name</span>

                                      </label>
                                      <input type="text"
                                             name="customer[given_name]"
                                             size="20" maxlength="40"
                                             value="<%= @donation.customer.given_name %>"
                                             id="name-given"/></li>

                                    <li class="xf-input">
                                      <label for="name-family">
                                        <span class="xf-label">Family name</span>


                                      </label>
                                      <input type="text"
                                             name="customer[family_name]"
                                             size="20" maxlength="40"
                                             value="<%= @donation.customer.family_name %>"
                                             id="name-family"/></li>
                                  </ol>
                                </fieldset>
                              </li>
                              <li class="xf-input">
                                <label for="organisation">
                                  <span class="xf-label">Organisation name</span>

                                </label>
                                <input type="text"
                                       name="customer[organisation_name]"
                                       size="40" maxlength="200"
                                       value="<%= @donation.customer.organisation_name %>"
                                       id="organisation"/></li>

		                              <li class="xf-input">
		                                <label for="contact-phone">
		                                  <span class="xf-label">Phone</span>

		                                </label>
		                                <input type="text" name="customer[phone]" size="15" maxlength="20" value="<%= @donation.customer.phone %>"
		                                       id="contact-phone"/></li>

		                              <li class="xf-input">
		                                <label for="contact-fax">

		                                  <span class="xf-label">Fax</span>

		                                </label>
		                                <input type="text" name="customer[fax]" size="15" maxlength="20" value="<%= @donation.customer.fax %>"
		                                       id="contact-fax"/></li>

                            </ol>
                          </fieldset>
                        </li>

                        <li class="section">
                          <fieldset>
                            <legend>Contact by email</legend>

                            <ol class="ftw-questions ftw-slot-in">

                              <li class="xf-select">
                                <ul class="xf-choices">
                                  <li><label for="copy-of-receipt-requested"><input type="checkbox" 
                                                                                    name="customer[wants_receipt_by_email]"
                                                                                    id="copy-of-receipt-requested"
                                                                                    <% if @donation.customer.wants_receipt_by_email? %>checked="checked"<% end %>
                                                                                    value="true"/>Send receipt by email</label></li>
                                </ul>
                              </li>

                              <li class="xf-input">

                                <label for="contact-email">
                                  <span class="xf-label">Email</span>

                                </label>
                                <input type="text" name="customer[email]" size="40" maxlength="100" value="<%= @donation.customer.email %>"
                                       id="contact-email"/></li>

                              <li class="xf-input">
                                <label for="contact-email-confirm">
                                  <span class="xf-label">Confirm email</span>


                                  <span class="xf-hint">Please retype to confirm</span>
                                </label>
                                <input type="text" name="customer_email_confirm]" size="40" maxlength="100" value="<%= @donation.customer.email %>"
                                       id="contact-email-confirm"/></li>
                            </ol>
                          </fieldset>
                        </li>

                        <li class="section">
                          <fieldset>

                            <legend>Contact by post</legend>
                            <ol class="ftw-questions ftw-slot-in">

                              <li class="xf-select">
                                <ul class="xf-choices">
                                  <li><label for="copy-of-receipt-requested-by-snail-mail"><input type="checkbox" 
                                                                                    name="customer[wants_receipt_by_snail_mail]"
                                                                                    id="copy-of-receipt-requested-by-snail-mail"
                                                                                    <% if @donation.customer.wants_receipt_by_snail_mail? %>checked="checked"<% end %>
                                                                                    value="true"/>Send receipt by post</label></li>
                                </ul>
                              </li>
                              <li class="xf-group">
                                <fieldset id="contact-address">
                                  <legend>
                                    <span class="xf-label">Postal address</span>
                                  </legend>
                                  <ol class="ftw-questions">

                                    <li class="xf-input">
                                      <label for="contact-address-line1">
                                        <span class="xf-label">Address line 1</span>

                                      </label>
                                      <input type="text" name="customer[address_line_1]" size="30" maxlength="50"
                                             value="<%= @donation.customer.address_line_1 %>" id="contact-address-line1"/></li>

                                    <li class="xf-input">
                                      <label for="contact-address-line2">
                                        <span class="xf-label">Address line 2 (optional)</span>

                                      </label>
                                      <input type="text" id="contact-address-line2" name="customer[address_line_2]"
                                             value="<%= @donation.customer.address_line_2 %>" size="30" maxlength="50"/>
                                    </li>

                                    <li class="xf-input">
                                      <label for="contact-address-line3">
                                        <span class="xf-label">Address line 3 (optional)</span>
                                      </label>
                                      <input type="text" id="contact-address-line3" name="customer[address_line_3]"
                                             value="<%= @donation.customer.address_line_3 %>" size="30" maxlength="50"/>
                                    </li>

                                    <li class="xf-input">
                                      <label for="contact-suburb">
                                        <span class="xf-label">Town, suburb or city</span>

                                      </label>
                                      <input type="text" id="contact-suburb" name="customer[city]"
                                             value="<%= @donation.customer.city %>" maxlength="46"/>
                                    </li>

                                    <li class="xf-input">
                                      <label for="contact-state">
                                        <span class="xf-label">State or territory</span>
                                      </label>
                                      <input type="text" id="contact-state" name="customer[state]"
                                             value="<%= @donation.customer.state %>" size="10" maxlength="46"/>
                                    </li>

                                    <li class="xf-input">
                                      <label for="contact-postcode">
                                        <span class="xf-label">Postal or zip code</span>

                                      </label>
                                      <input type="text" id="contact-postcode" name="customer[postalcode]"
                                             value="<%= @donation.customer.postalcode %>" size="5" maxlength="12"/>
                                    </li>

                                    <li class="xf-input">
                                      <label for="contact-country">
                                        <span class="xf-label">Country</span>
                                      </label>
                                      <input type="text" id="contact-country" name="customer[country]"
                                             value="<%= @donation.customer.country %>" size="30" maxlength="100"/>
                                    </li>

                                  </ol>
                                </fieldset>
                              </li>

                            </ol>
                          </fieldset>
                        </li>
                      </ol>
                    </fieldset>
                  </li>


                  <li class="tf-footer">
                    <ul class="tf-submit">
                      <li class="wfd-primary-action"><strong><input type="submit" id="pay" value="Continue"/></strong></li>
                    </ul>
                  </li>
                </ol>
                <% end %>
              </div>
            </div>


          </div>
        </div>

      </div>
    </div>
