<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-AU" lang="en-AU">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Checkout (1 of 3): Customer details</title>
	    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
        <!-- Build: build-8993 -->
    <%= javascript_include_tag "jquery-1.4.4.min.js" %>
    <%= stylesheet_link_tag "payment-20100104.css" %>
    <%= stylesheet_link_tag "dashboards.css" %>
			<link rel="AGLS_Metadata_Element_Set_v1-3" href="http://www.agls.gov.au/AGLS_Metadata_Element_Set_v1-3.html" />
			<meta name="DC.Coverage.jurisdiction" scheme="AglsJuri" content="Queensland" />
			<meta name="DC.Type.documentType" scheme="agls-document" content="service" />
			<meta name="DC.Type.serviceType" scheme="agls-service" content="financial" />
			<style type="text/css">
            <!--
                #name .ftw-questions abbr.xf-required { display: none; }
            -->
        </style>
            <!--[if lt IE 9]><link rel="stylesheet" href="/payment/ui/ie.css" type="text/css" /><![endif]-->
	          <!--[if lt IE 7]><script>document.createElement('abbr')</script><![endif]-->
    </head>

	<body id="qld-gov-au" class="payment application">
	  <div id="access">
        <h2>Access keys and skip links</h2>
        <ul>
            <li><a href="http://www.qld.gov.au/help/accessibility/keyboard.html#access-keys">Access keys</a></li>

            <li><a href="#content">Skip to content</a></li>
            <li><a href="#footer">Skip to footer</a></li>
        </ul>
    </div>
    <div id="header">
        <div class="inner">
            <h2>Site header</h2>

            <div id="qg-logo"><a href="http://www.qld.gov.au/"><%= image_tag "qglogo.gif", :alt => "Queensland Government",
                :size=> "140x50" %></a></div>
            <ul id="tools">
                <li><a href="http://www.qld.gov.au/" accesskey="2">Home</a></li>
                <li><a href="http://www.qld.gov.au/services/" accesskey="3">Site map</a></li>
                <li><a href="/payment/contact" accesskey="4">Contact us</a></li>
                <li><a href="http://www.qld.gov.au/help/">Help</a></li>

                <li class="last-child">
                    <form action="http://pan.search.qld.gov.au/search/search.cgi" id="search-form">
                        <div>
                            <label for="search-query">Search Queensland Government</label>
                            <input type="text" name="query" id="search-query" size="15" value="" accesskey="5"/>
                            <input type="submit" value="Search"/>
                            <input type="hidden" name="num_ranks" value="10"/>
                            <input type="hidden" name="tiers" value="off"/>

                            <input type="hidden" name="collection" value="qld-gov"/>
                            <input type="hidden" name="profile" value="qld"/>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <%= yield %>

  <div id="footer">
      <div class="inner">
          <h2>Site footer</h2>
          <ul>
              <li><a href="/payment/legal/copyright">Copyright</a></li>
              <li><a href="/payment/legal/disclaimer">Disclaimer</a></li>
              <li><a href="/payment/legal/privacy">Privacy</a></li>

              <li><a href="/payment/legal/terms">Terms and conditions</a></li>
              <li><a href="http://www.qld.gov.au/help/accessibility/keyboard.html#access-keys" accesskey="0">Access
                  keys</a></li>
              <li><a href="http://www.qld.gov.au/languages/">Other languages</a></li>
          </ul>
          <p> © The State of Queensland

              2008.
          </p>

          <p><a href="http://www.qld.gov.au/" accesskey="1">Queensland Government</a></p>

      </div>
  </div>

  <!-- SiteCatalyst code version: H.21.
  Copyright 1996-2010 Adobe, Inc. All Rights Reserved
  More info available at http://www.omniture.com -->
  <script language="JavaScript" type="text/javascript" src="/payment/ui/s_code.js"></script>
  <script language="JavaScript" type="text/javascript">

      <!--
      /* You may give each page an identifying name, server, and channel on
      the next lines. */
      s.pageName="papi:order:checkout"
      s.server=""
      s.channel=""
      s.pageType=""
      s.prop1=""
      s.prop2=""

      /* Conversion Variables */
      s.campaign=""
      s.state=""
      s.zip=""
      s.events=""
      s.products=""
      s.purchaseID=""
      s.eVar1=""
      s.eVar2=""
      /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
      var s_code=s.t();if(s_code)document.write(s_code)//--></script>
  <script language="JavaScript" type="text/javascript"><!--
      if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
      //--></script>
  <noscript><a href="http://www.omniture.com" title="Web Analytics"><img
          src="http://smartservicequeensland.122.2o7.net/b/ss/ssqsmartservdevelopment/1/H.21--NS/0?[AQB]&cdp=4&[AQE]"
          height="1" width="1" border="0" alt=""/></a></noscript><!--/DO NOT REMOVE/-->

  <!-- End SiteCatalyst code version: H.21. -->

  <%= javascript_include_tag "jquery.forces.forms.1.2.js" %>
  
  <script type="text/javascript">
      <!-- //
       
         var nameGiven=$("#name-given");if(nameGiven.is(":-xf-required")){var nameFamily=$("#name-family");$("#name-given,#name-family").change(function(){nameGiven.forces_attr("required",nameFamily.is(":-xf-empty"));nameFamily.forces_attr("required",nameGiven.is(":-xf-empty"))}).triggerHandler("change")}$("#contact-email, #delivery-email").forces_attr("type","email").change(function(){var B=$(this);B.forces_setCustomValidity(B.val().match(/@[0-9.]+$/)?$.forces.MSG_TYPE_MISMATCH.email:null)}).triggerHandler("change");$.fn.forces_isConfirmationFor=function(D){D=$(D);var C=$(this);D.add(C).change(function(){C.forces_setCustomValidity(D.forces_val()==C.forces_val()?"":"doesn't match "+D.forces_label());if(C.is(":-tf-validated")){C.forces_validate()}});return this};$("#contact-email-confirm").forces_isConfirmationFor("#contact-email");$("#delivery-email-confirm").forces_isConfirmationFor("#delivery-email");var emailReceipt=$("#copy-of-receipt-requested");if(emailReceipt.is(":checked")||!$("#contact-email").is(":-xf-required")){emailReceipt.click(function(){$("#contact-email, #contact-email-confirm").forces_attr("required",emailReceipt.is(":checked"))}).triggerHandler("click")}var taxInvoiceRequired=$("#tax-invoice-required");taxInvoiceRequired.click(function(){$("#tax-business-details").forces_attr("relevant",taxInvoiceRequired.is(":checked"))}).triggerHandler("click");var abn=$("#abn");abn.change(function(){var H=abn.val().replace(/\s+/g,"");if(H.length==0){abn.forces_setCustomValidity("")}else{if(H.match(/^[0-9]{11}$/)){var G=H.split("");var J=G[0]*10;var I=1;for(var F=1;11>F;F++){J+=(G[F]*I);I+=2}if(J%89===10){abn.forces_setCustomValidity("")}else{abn.forces_setCustomValidity("invalid number")}}else{abn.forces_setCustomValidity("invalid number")}}});if(abn.is(":-xf-required")){var taxAddressRequiredFields=$("#tax-address :-xf-required");var abnAddressChangeHandler=function(){var B=abn.is(":-xf-empty");taxAddressRequiredFields.forces_attr("required",B).filter(":-xf-invalid").forces_validate();abn.forces_attr("required",!B||taxAddressRequiredFields.filter(":-xf-empty").length>0).filter(":-xf-invalid").forces_validate()};abnAddressChangeHandler();abn.change(abnAddressChangeHandler);taxAddressRequiredFields.change(abnAddressChangeHandler);$(document).bind($.forces.EVENT_XF_SUBMIT_ERROR,function(){var B=$('.tf-alert a[href$="#abn"]');if(B.length&&B.text().match(/^ABN: must be completed$/)){B.text("ABN or business address: must be completed");B.closest("ol").find('a[href*="#tax-"]').parent().remove()}})}var addressAsAbove=$("#delivery-address-same-as-contact-address");addressAsAbove.click(function(){$("#delivery-details-needed").forces_attr("relevant",!addressAsAbove.is(":checked"))}).triggerHandler("click");    
     // -->
  </script>


  <!--[if lt IE 9]>
  <script type="text/javascript" src="/payment/ui/ie.js"></script><![endif]-->
  </body>
</html>
